# Dataset — jangan upload
Images/
Labels.csv
*.jpg
*.jpeg

# Checkpoints terlalu besar
outputs/efficientnetb3_v6/checkpoints/
*.pth
*.pt

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Kaggle virtual docs
.virtual_documents/
